---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Recent Designs" id="showcase" titleClass="text-intro-accent">
  <Fragment slot="lead">
    Designs from the network will appear here.
  </Fragment>
  <div class="max-w-6xl">
    <p class="text-center text-offset">
      Connect to the indexer to see recent designs. Coming soon.
    </p>
  </div>
</ContentSection>
