---
import BuildingBlocks from "~/components/building-blocks.astro";
import Intro from "~/components/intro.astro";
import Showcase from "~/components/recent-designs.astro";
import Splash from "~/components/splash.astro";
import LandingLayout from "~/layouts/landing-layout.astro";

const description =
  "OpenPrints is an open, decentralized home for 3D-printable designs built on Nostr. Discover, publish, and support creators without platform lock-in.";
---

<LandingLayout title="OpenPrints" description={description}>
  <Splash />
  <div class="space-y-24 px-8 py-32">
    <Intro />
    <BuildingBlocks />
    <Showcase />
  </div>
</LandingLayout>
